<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>小組自我介紹</title>
  </head>
  <body>
    <font size="40">小組自我介紹</font>
    <p></p>
    <p></p>
    <font size="5">我是楊謹瑞，目前是就讀二年級的轉學生，興趣是玩耳機。</font>
    <p></p>
    <p></p>
    <font size="5">我是林肇勳，是從材料系轉過來的，還請多多指教~~</font>
    <p></p>
    <p></p>
    <font size="5">我是吳晨光，也是轉學生，還請大家多多指教</font>
    <p></p>
    <p></p>
    <font size="5">我是鄭宇翔，從材料系轉到資工二年級，最近非常成迷爐石戰記。</font>
    <p></p>
    <p></p>
    <font size="5">
    我是陳澤濬，準備從材料系轉進資工系，請大家多多指教。</font>

  </body>


</html>
